{% extends "base.html" %}

{% load static i18n %}

{% block content %}
<h1>About Reddit</h1>
 <div class="row">
    <div class="col-sm-6">
        <div class="card border-0">
        <div class="card-body">
            <h5 class="card-title">Tilly's Handbag</h5>
            <img class="img-thumbnail border-0" src="{% static 'images/handbag.jpg' %}" alt="Card image cap" style="width: 200px;height: 200px;">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-0">
        <div class="card-body">
            <h5 class="card-title">Tilly's Purse</h5>
            <img class="img-thumbnail border-0" src="{% static 'images/purse.jpg' %}" alt="Card image cap" style="width: 200px;height: 200px;">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
    </div>
    </div>
<div class="card sm-6 border-primary">
  <div class="card-body bg-primary text-white">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-white-50">Last updated 3 mins ago</small></p>
  </div>
</div>

{% endblock content %}